---
# Required for Jekyll to process SCSS
---

@import "animate.min.css";  // this works for a CSS file in the same folder
@import "style";            // imports _style.scss from _sass/
@import "bootstrap";        // imports _bootstrap.scss from _sass/
@import "mixins";           // imports _mixins.scss from _sass/
