---
# Required for Jekyll to process SCSS
---

/* Plain CSS in same folder */
@import "animate.min.css";

/* SCSS partials in _sass/ (do NOT include _ or .scss) */
@import "bootstrap";
@import "mixins";
@import "style";
